.tarea-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.tarea-input {
  width: 350px;
  font-size: 18px;
  background-color: white;
  padding: 14px 32 px 14px 16px;
  border: 2px solid #00471b;
  border-radius: 2px solid white;
  outline: none;
}

.tarea-boton {
  padding: 16px;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  border-radius: 0 4px 0 4px;
  cursor: pointer;
  outline: none;
  background-color: #00471b;
  color: white;
  text-transform: capitalize;
}